<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @leaderboard.user %>
</p>

<p>
  <strong>Football:</strong>
  <%= @leaderboard.Football %>
</p>

<p>
  <strong>Cricket:</strong>
  <%= @leaderboard.Cricket %>
</p>

<p>
  <strong>Hollywood:</strong>
  <%= @leaderboard.Hollywood %>
</p>

<p>
  <strong>Bollywood:</strong>
  <%= @leaderboard.Bollywood %>
</p>

<%= link_to 'Edit', edit_leaderboard_path(@leaderboard) %> |
<%= link_to 'Back', leaderboards_path %>
